{% comment %} {{ 'section-image-banner.css' | asset_url | stylesheet_tag }} {% endcomment %}

{% comment %}
  {%- if section.settings.image_height == 'adapt' and section.settings.image != blank -%}
    {%- style -%}
        @media screen and (max-width: 749px) {
          #Banner-{{ section.id }}::before,
          #Banner-{{ section.id }} .banner__media::before,
          #Banner-{{ section.id }}:not(.banner--mobile-bottom) .banner__content::before {
            padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
            content: '';
            display: block;
          }
        }

        @media screen and (min-width: 750px) {
          #Banner-{{ section.id }}::before,
          #Banner-{{ section.id }} .banner__media::before {
            padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
            content: '';
            display: block;
          }
        }
      {%- endstyle -%}
    {%- endif -%}
{% endcomment %}

{%- style -%}
  #shopify-section-{{ section.id }} {
    padding: {{ section.settings.padding_y }}px {{ section.settings.padding_x }}px;
  }

  #Banner-{{ section.id }} {
    border-radius: {{ section.settings.border_radius }}px;
  }

  #Banner-{{ section.id }}::after {
    opacity: {{ section.settings.image_overlay_opacity | divided_by: 100.0 }};
  }

  .brand-swiper .swiper-slide {
    background: none;
  }
{%- endstyle -%}

<div
  id="Brand-{{ section.id }}"
  style="display: flex; background: {{ section.settings.background }};"
  class="brand-section flex flex-column"
>
  <h1 class="heading" style="color: {{ section.settings.heading_color }}">{{ section.settings.heading }}</h1>
  <div class="brand-blocks flex desktop-only">
    {%- for block in section.blocks -%}
      {% case block.type %}
        {% when 'brand' %}
          <div class="brand-item flex flex-column">
            {%- if block.settings.image != blank -%}
              <img src="{{ block.settings.image | image_url }}">
            {%- endif -%}
            <span>{{ block.settings.description }}</span>
          </div>
      {% endcase %}
    {%- endfor -%}
  </div>
  <div class="brand-blocks mobile-only swiper brand-swiper">
    <div class="swiper-wrapper">
      {%- for block in section.blocks -%}
        {%- if block.type == 'brand' -%}
          <div class="swiper-slide flex flex-column">
            {%- if block.settings.image != blank -%}
              <img src="{{ block.settings.image | image_url }}" style="width: 205px; height: auto;">
            {%- endif -%}
            <span>{{ block.settings.description }}</span>
          </div>
        {%- endif -%}
      {%- endfor -%}
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var swiper = new Swiper('.brand-swiper', {
      grabCursor: true,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
    });
  });
</script>
{% schema %}
{
  "name": "Brand Section",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "color",
      "id": "background",
      "label": "Background color"
    },
    {
      "type": "range",
      "label": "Paddding Y",
      "id": "padding_y",
      "default": 0,
      "step": 2,
      "min": 10,
      "max": 150
    },
    {
      "type": "range",
      "label": "Paddding X",
      "id": "padding_x",
      "default": 0,
      "step": 2,
      "min": 10,
      "max": 150
    },
    {
      "type": "range",
      "label": "border_radius",
      "id": "padding_y",
      "default": 0,
      "step": 5,
      "min": 10,
      "max": 150
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "t:sections.image-banner.blocks.heading.settings.heading.label"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading color"
    }
  ],
  "blocks": [
    {
      "type": "brand",
      "name": "Brand",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Brand Image"
        },
        {
          "type": "text",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "color",
          "id": "color",
          "label": "Color",
          "default": "#0E1B4D"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Brand Section"
    }
  ]
}
{% endschema %}
