<style>
  #section-{{ section.id }} {
      padding: 8rem 6rem;
      text-align: center;
      background: #D7F1F6;
  }

  #section-{{ section.id }} .how-to-user-block {
    background: #fff;
    gap: 100px;
    padding: 5rem;
    margin-top: 6rem;
  }

  #section-{{ section.id }} .how-to-step--item {
    max-width: 462px;
  }

  @media screen and (max-width: 749px) {
    #section-{{ section.id }} {
      padding: 5rem 2rem;
    }
    #section-{{ section.id }} .how-to-user-block {
      padding: 1rem;
      flex-direction: column;
    }
  }
</style>

<div id="section-{{ section.id }}" class="section" style="padding: ">
  <h1 class="heading">{{ section.settings.heading }}</h1>
  <div class="how-to-user-block flex" style="width: 100%; justify-content: center">
    {%- for block in section.blocks -%}
      <div class="how-to-step--item flex flex-column">
        <img src="{{ block.settings.image | image_url }}">
        <span class="description">{{ block.settings.description }}</span>
      </div>
    {%- endfor -%}
  </div>
</div>
{% schema %}
{
  "name": "How to use",
  "class": "section section-block",
  "settings": [
    {
      "type": "textarea",
      "id": "heading",
      "default": "How to use",
      "label": "Heading"
    },
    {
      "type": "color",
      "id": "background_color",
      "default": "#D7F1F6",
      "label": "Background"
    }
  ],
  "blocks": [
    {
      "type": "method",
      "name": "Method",
      "limit": 3,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "How to use"
    }
  ]
}
{% endschema %}
