<style>
  #section-{{ section.id }} {
    display: block;
    height: calc(100vw / ({{ section.settings.background_image.width }} / {{ section.settings.background_image.height }}));
    background-image: url('{{ section.settings.background_image | image_url  }}');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 12rem 10rem;
  }

  .subscription-wrapper {
    width: 45%;
    height: 100%;
    justify-content: space-between;
    align-items: start;
  }

  .subscription-features-block {
    width: 100%;
    justify-content: space-between;
  }
  .subscription-feature--item {
    gap: 10px;
    align-items: center;
  }

  .subscription-feature-item--icon {
    width: 110px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px #0E1B4D solid;
    border-radius: 50%;
  }

  .subscription-feature-item--description {
    text-align: center;
  }
</style>
<div
  class="section-{{ section.id }}-padding section-subscription scroll-trigger animate--fade-in"
  id="section-{{ section.id }}"
>
  <div class="subscription-wrapper flex flex-column">
    <h1 class="heading" style="color: {{ section.settings.heading_color }}; text-align: left;">
      {{ section.settings.title }}
    </h1>
    <span class="description" style="color: {{ section.settings.heading_color }};">
      {{ section.settings.description }}
    </span>
    <div class="subscription-features-block flex">
      {%- for block in section.blocks -%}
        <div class="subscription-feature--item flex flex-column">
          <div class="subscription-feature-item--icon">
            {%- render 'icon', icon: block.settings.icon -%}
          </div>
          <span class="subscription-feature-item--description">{{ block.settings.description }}</span>
        </div>
      {%- endfor -%}
    </div>
    <a href="{{ section.settings.button_url  }}" class="custom-banner_btn btn btn--gray-blue">
      {{- section.settings.button_label -}}
    </a>
  </div>
</div>
{% schema %}
{
  "name": "Subscription block",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    {
      "type": "textarea",
      "id": "title",
      "default": "Subscription block",
      "label": "t:sections.featured-collection.settings.title.label"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "color",
      "id": "heading_color",
      "default": "#fff",
      "label": "Heading Color"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button Link"
    }
  ],
  "blocks": [
    {
      "type": "feature",
      "name": "Featue",
      "settings": [
        {
          "type": "select",
          "id": "icon",
          "label": "Icon",
          "options": [
            {
              "value": "box-cancel",
              "label": "Box Cancel"
            },
            {
              "value": "pinned-deals",
              "label": "Pinned Deals"
            },
            {
              "value": "delivery",
              "label": "Delivery"
            },
            {
              "value": "save-money",
              "label": "Save Money"
            }
          ]
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Subscription block"
    }
  ]
}
{% endschema %}
